<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swe.nmb_map.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.swe.nmb_map.entity.User">
            <id property="userId" column="user_id" />
            <result property="username" column="username" />
            <result property="password" column="password" />
            <result property="email" column="email" />
            <result property="role" column="role" />
            <result property="registrationTime" column="registration_time" />
            <result property="isDeleted" column="is_deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        user_id,username,password,email,role,registration_time,
        is_deleted
    </sql>
</mapper>
